.calculator {
    margin-top: 70px;
}

.line {
    width: 150px;
    height: 2px;
    background-color: burlywood;
    margin: auto;
}


.calculator .btn {
    background-color: #a39300b0;
}

.category {
    color: rgb(153, 153, 153);
    font-size: smaller;
}

.left-call label {
    font-size: small;
}