body {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}

.floating-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #075e54af;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
    animation: float 5s ease-in-out infinite;
}

.floating-icon i {
    color: #fff;
    font-size: 24px;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

/* navbar */

.navbar-brand {
    font-weight: 700;
    font-family: 'Inspiration', cursive;
    font-weight: bold;
    color: #a39300;
}

.navbar-toggler {
    font-size: 18px;
    line-height: 0.3;
    background: #ffffff;
}

.dropdown-menu {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: #ffffff;
    padding: 0.5rem;
    border: 1px solid #cccccc;
}

.nav-item.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(5px);
}

@media only screen and (max-width: 767px) {
    .navbar-nav {
        text-align: center;
    }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn-color {
        align-self: center !important;
    }
}

@media only screen and (max-width: 319px) {
    .navbar-brand {
        display: none;
    }
}

.nav-link.active {
    font-weight: 700;
}

.nav-item {
    font-weight: 700;
}

.btn-color {
    color: #a39300;
    transition: transform 0.2s ease-out;
}

.btn-color:hover {
    transform: scale(1.15);
    color: black;
}

/* css footer */
footer {
    background-color: #e6e6e61f;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.line-footer {
    width: 50%;
    height: 2px;
    background-color: burlywood;
    margin: auto;
}

footer h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    color: #dacb4d;

}

.icon-socmed a {
    color: #888888;
    border-radius: 100%;
    font-size: 1.3em;
    margin-right: 10px;
}

.icon-socmed a:hover {
    color: #a39300;
}

.menu-link {
    position: relative;
    display: inline-block;
    color: rgb(95, 95, 95);
    text-decoration: none;
}

.menu-link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #dacb4d;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.menu-link:hover::after {
    transform: scaleX(1);
}

.copyright-wrapper {
    padding: 15px 0;
    border-top: 1px solid #dbdbdbaf;
}

.copyright-wrapper p {
    color: rgba(88, 89, 120, 0.6);
    font-size: 15px;
    font-weight: 500;
    text-align: center;

}

.copyright-wrapper p a {
    color: inherit;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease-out;
    color: #a19100;
}

.copyright-wrapper p a:hover {
    color: #fff491;
}

@media (max-width: 992px) {
    .container {
        max-width: 960px;
    }

    .wrapper .footer-widget,
    .wrapper .footer-widget:nth-child(1) {
        width: calc(50% - 30px);
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 720px;
    }

    .wrapper .footer-widget,
    .wrapper .footer-widget:nth-child(1) {
        width: 100%;
        margin: 0 10px 50px;
    }
}