.detail-item {
    margin-top: 100px;
}

.kategori {
    font-family: 'Suwannaphum', serif;
    font-size: smaller;
    margin-bottom: 10px;
    color: #8f8f8f;
}

.kategori i p {
    margin-top: -3px;
}