.first-content {
    padding-top: 20px;
    margin: 65px 0 10px 0;
    height: 15vh;
    background-color: #a39300b0;
    color: #fff;
}

.left-image {
    border-top-right-radius: 5%;
    border-bottom-left-radius: 5%;
}

.first-content h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}

.second-contents h5 {
    color: #a39300;
    font-family: 'Inspiration', cursive;
    font-size: xx-large;
    font-weight: bold;
}

@media screen and (max-width: 767px) {
    .second-contents h5 {
        margin-top: 30px
    }
}


/* konten 3 */


/* konten 4 */
.body-ourt {
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-ourt {
    font-family: 'Roboto Slab', serif;
}

.line {
    width: 100px;
    height: 2px;
    background-color: burlywood;
    margin: auto;
}

.our-team {
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center !important;
    flex-wrap: wrap;
    padding: 3px;
    margin-top: 28px;
}

.our-team .card {
    position: relative;
    max-width: 300px;
    height: 150px;
    background: white;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease-in-out;
    border: 0px;
}

.our-team .card:hover {
    height: 250px;
}

.our-team .card .imgOT {
    position: relative;
    width: 260px;
    top: -60px;
    left: 5px;
    z-index: 1;
    box-shadow: 0 5px 202px rgba(0, 0, 0, 0.2);
}

.our-team .card .imgOT img {
    max-width: 100%;
    border-radius: 4px;
    object-fit: cover;
}

.our-team .card .content-ourt {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.our-team .card:hover .content-ourt {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
}

.content-ourt h2 {
    font-size: 1.25em;
    font-weight: 600;
    color: #555;
    line-height: 1.2em;
    text-transform: capitalize;
}


.content-ourt p {
    font-style: italic;
    text-transform: capitalize;
    color: #acacacb4;
}

/* konten 4 */
.four-content {
    width: 85%;
    background: #fff;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.four-content .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.four-content .content .left-side {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}

.content .left-side::before {
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
}

.content .left-side .details {
    margin: 14px;
    text-align: center;
}

.content .left-side .details i {
    font-size: 30px;
    color: #746800;
    margin-bottom: 10px;
}

.content .left-side .details .topic {
    font-size: 18px;
    font-weight: 500;
}

.content .left-side .details .text-one,
.content .left-side .details .text-two {
    font-size: 14px;
    color: #afafb6;
}


.four-content .content .right-side {
    width: 75%;
    margin-left: 75px;
}

.location-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.location-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 950px) {
    .four-content {
        width: 90%;
        padding: 30px 40px 40px 35px;
    }

    .four-content .content .right-side {
        width: 75%;
        margin-left: 55px;
    }
}

@media (max-width: 820px) {
    .four-content {
        height: 100%;
    }

    .four-content .content {
        flex-direction: column-reverse;
    }

    .four-content .content .left-side {
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .four-content .content .left-side::before {
        display: none;
    }

    .four-content .content .right-side {
        width: 100%;
        margin-left: 0;
    }
}

/* jam operasional */
.back-bg {
    background: #fff;
    margin-top: 60px;
}

.business-hours {
    background: #ffc801;
    padding: 80px 90px;
    margin-top: -15px;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.business-hours .title {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    padding-left: 5px;
    border-left: 4px solid #1b2e35;
}

.business-hours li {
    color: #1b2e35;
    line-height: 30px;
    font-weight: 700;
}

.business-hours li:last-child {
    border-bottom: none;
}

.business-hours .opening-hours li.today {
    color: #ffac0c;
}

@media (max-width: 374px) {
    .business-hours {
        background: #ffc801;
        padding: 80px 35px;
        margin-top: -15px;
        position: relative;
    }
}
