.head-gallery {
    padding-top: 20px;
    margin: 65px 0 10px 0;
    height: 15vh;
    background-color: #a39300b0;
    color: #fff;
}
.line {
    width: 100px;
    height: 2px;
    background-color: burlywood;
    margin: auto;
}
