.breadcrumbs {
    padding-top: 20px;
    margin: 65px 0 10px 0;
    height: 15vh;
    background-color: #a39300b0;
    color: #fff;
}


.content-payment .btn {
    background-color: #a39300b0;
}

@media (max-width: 768px) {
    .container {
        margin-left: 0;
        margin-right: 0;
        /* Menghilangkan container pada layar kecil */
    }
}


@media (max-width: 576px) {
    .breadcrumbs {
        display: none;
    }

    .content-payment {
        margin-top: 75px;
    }
}

@media (max-width: 767px) {
    .virtual-payment {
        margin-top: 10px;
    }

    .details-order {
        margin-top: 10px;
    }
}
