.card .rounded-circle {
    width: 100px;
    margin-bottom: 50px;
}


.img-owner {
    width: 80%;
    margin-bottom: 50px;
}

.img-services {
    width: 80%;
}

.flex-header {
    padding: 10px 18px;
    border-bottom: 1px solid #b8c2cc;
    background-color: #f7f7f7;
    vertical-align: bottom;
}

.flex-header h6 {
    margin-bottom: 0;
    font-weight: bold;
    color: #625F6E;
}

.flex-container {
    display: flex;
    padding: 8px 10px;
    border-width: 0;
    border-color: #dee2e6;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.flex-item.label {
    width: 150px
}

form.formstyle {
    width: 100%;
    align-items: center;
}

.flex-item.button {
    margin: 10px;
}


/* text area */
textarea {
    width: 100%;
    resize: none;
}

/* Style untuk icon fa-circle-info */
.bi-question-help-circle-fill {
    display: flex;
    align-items: center;
    padding-left: 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
}

/* css untuk vidio promosi */
.vidio-pro {
    display: inline-block;
    width: 100%;
}

.vidio-pro iframe {
    width: 100%;
    height: auto;
}

/* css untuk jam operasional */
.hours-operation .time input,
select {
    padding: 2px 6px;
    border: none;
    border-bottom: 1px solid #c7c7c7;
    border-radius: none;
    box-sizing: border-box;
    color: #000000;
    background-color: transparent;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center !important
}

.hours-operation .time input:focus,
select:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid #00C853;
    outline-width: 0
}

.hours-operation select option {
    background-color: #fffdfd
}

.hours-operation select option:focus {
    background-color: #00C853 !important
}

::placeholder {
    color: #fff;
    opacity: 1
}

:-ms-input-placeholder {
    color: #fff
}

::-ms-input-placeholder {
    color: #fff
}

.hours-operation button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.hours-operation .btn {
    width: 120px
}

.exit {
    border: 1px solid #9E9E9E;
    color: #9E9E9E;
    background-color: transparent
}

.exit:hover {
    border: 1px solid #9E9E9E;
    color: #000 !important;
    background-color: #9E9E9E
}

@media screen and (max-width: 768px) {
    .mob {
        width: 70%
    }

    select.mob {
        width: 50%
    }
}

.switch-text {
    color: blue;
}

.switch-input:checked+.form-check-label .switch-text {
    color: red;
}
