.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.back a {
    color: #a39300;
}

.buttons button {
    background-color: #a39300;
    border: 0px;
    color: #fff;
}

.buttons button:hover {
    background-color: #b8a500;
    color: #c7c7c7;
}

.card-footer a {
    color: #504800;
    text-decoration: none;
}

.form-outline input {
    margin-bottom: 0px !important;
}
