body {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}

.floating-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #075e54af;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
    animation: float 5s ease-in-out infinite;
}

.floating-icon i {
    color: #fff;
    font-size: 24px;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

/* navbar */

.navbar-brand {
    font-weight: 700;
    font-family: 'Inspiration', cursive;
    font-weight: bold;
    color: #a39300;
}

.navbar-toggler {
    font-size: 18px;
    line-height: 0.3;
    background: #ffffff;
}

.dropdown-menu {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: #ffffff;
    padding: 0.5rem;
    border: 1px solid #cccccc;
}

.nav-item.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(5px);
}

@media only screen and (max-width: 767px) {
    .navbar-nav {
        text-align: center;
    }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn-color {
        align-self: center !important;
    }
}

.nav-link.active {
    font-weight: 700;
}

.nav-item {
    font-weight: 700;
}

.btn-color {
    color: #a39300;
    transition: transform 0.2s ease-out;
}

.btn-color:hover {
    transform: scale(1.15);
    color: black;
}

.container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 12px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.wrapper .footer-widget {
    width: calc(20% - 30px);
    margin: 0 15px 50px;
    padding: 0 12px;
}

.wrapper .footer-widget:nth-child(1) {
    width: calc(30% - 50px);
    margin-right: 15px;
}

.wrapper .footer-widget .logo {
    margin-bottom: 30px;
    vertical-align: middle;
    width: 100px;
}

.wrapper .footer-widget p {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
}

.wrapper .footer-widget .socials {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
}

.wrapper .footer-widget .socials li {
    list-style: none;
}

.wrapper .footer-widget .socials li a {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    color: #ffffff;
    background-color: #a39300;
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-out;
}

.wrapper .footer-widget .socials li a:hover {
    background-color: #e7e691;
}

.wrapper .footer-widget h6 {
    color: #585978;
    margin: 10px 0 35px;
    font-size: 20px;
    font-weight: 600;
}

.wrapper .footer-widget .links li {
    list-style: none;
}

.wrapper .footer-widget .links li a {
    color: #585978;
    font-size: 16px;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 32px;
    transition: all 0.3s ease-out;
}

.wrapper .footer-widget .links li p {
    color: #585978;
    font-size: 16px;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 32px;
    transition: all 0.3s ease-out;
}

.wrapper .footer-widget .links li a:hover {
    color: #037ef3;
}

.copyright-wrapper {
    padding: 20px 0;
}

.copyright-wrapper p {
    color: rgba(88, 89, 120, 0.6);
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.copyright-wrapper p a {
    color: inherit;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

.copyright-wrapper p a:hover {
    color: #a39300;
}

@media (max-width: 992px) {
    .container {
        max-width: 960px;
    }

    .wrapper .footer-widget,
    .wrapper .footer-widget:nth-child(1) {
        width: calc(50% - 30px);
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 720px;
    }

    .wrapper .footer-widget,
    .wrapper .footer-widget:nth-child(1) {
        width: 100%;
        margin: 0 10px 50px;
    }
}