.card .rounded-circle {
    width: 100px;
    margin-bottom: 50px;
}

.card .card-body p {
    margin-top: 20px
}

.card .card-body h4 {
    margin-top: 20px
}

.card .card-body i {
    margin-top: 20px
}

.img-owner {
    width: 80%;
    margin-bottom: 50px;
}

/* .card .card-body .text-center {
    max-width: 10px; */
.flex-header {
    padding: 10px 18px;
    border-bottom: 1px solid #b8c2cc;
    background-color: #f7f7f7;
    vertical-align: bottom;
}

.flex-header h6 {
    margin-bottom: 0;
    font-weight: bold;
    color: #625F6E;
}

.flex-container {
    display: flex;
    padding: 8px 10px;
    border-width: 0;
    border-color: #dee2e6;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.flex-item.label {
    width: 150px
}

form.formstyle {
    width: 100%;
    display: flex;
    align-items: center;
}

.flex-item.form {
    flex-grow: 1;
    margin-right: 20px;
}

.flex-item.button {
    margin: 10px;
}